@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-color: #22254b;
    font-family: "Poppins", sans-serif;
    margin: 0;
}

header{
    background-color: #373b69;
    display: flex;
    justify-content: flex-end;
    padding: 1.5rem;
}

.search{
    padding: 0.5rem 1rem;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid #22254b;
    font-family: inherit;
    font-size: 1rem;
    color: #fff;
}

.search::placeholder{
    color:#7378c5;
}

.search:focus{
    outline: none;
    background-color: #22254b;
}

#tags{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}

.tag{
    color: #fff;
    padding: 10px 20px;
    background-color: orange;
    border-radius: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
}

.tag.highlight{
    background-color:orangered;
}

main{
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 300px;
    border-radius: 5px;
    box-shadow: 0 4px 5px rgba(0,0,0,0.2);
    background-color: #373b69;
    overflow: hidden;
    margin: 1rem;
    position: relative;
}

.movie img{
    width: 100%;

}

.movie-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem 1rem;
    color: #eee;
    letter-spacing: 0.5px;
}

.movie-info h3{
    margin: 0;
}

.movie-info span{
    background-color: #22254b;
    padding: 0.25rem 0.5rem;
    border-radius: 5px;
    font-weight: bold;
}

.movie-info span.green{
    color: rgb(41, 194, 41);
}

.movie-info span.orange{
    color: orange;
}

.movie-info span.red{
    color: rgb(201, 54, 54);
}

.overview{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #fff;
    padding: 2rem;
    transform : translateY(101%);
    transition: transform 0.3s ease-in;
    max-height: 100%;
    overflow: auto;
}

.overview h4{
    margin-top: 0;
}

.movie:hover .overview{
    transform: translateY(0);
}

.pagination{
    display: flex;
    margin: 10px 30px;
    align-items: center;
    justify-content: center;
    color:#fff;
}

.page{
    padding: 20px;
    cursor: pointer;
}

.page.disabled{
    cursor: not-allowed;
    color: grey;
}

.current{
    padding: 10px 20px;
    border-radius: 20px;
    border: 5px solid orange;
    font-size: 20px;
    font-weight: 600;
}

.no-results{
    color: #fff;
    margin: 30px auto;
}